/* unvisited link */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bgdefault {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/static/ins_bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.white-text {
    color: white;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

a:link {
    color: yellow;
}

/* visited link */
a:visited {
    color: yellow;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: orange;
}

.nav-link:visited,
.nav-link:link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 2px solid orange;
}

.jumbotron {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.jumbotron.lead {
    font-weight: 700;
    text-align: center;
}

.jumbotron.about {
    background-image: linear-gradient(rgba(236, 155, 3, 0.6), rgba(236, 155, 3, 0.8));
    padding: 20px;
    margin: 2px;
    text-align: left;
    font-weight: 300;
    max-width: 700px;
    opacity: 0.7;
    filter: Alpha(opacity=70); /* IE8 and earlier */
    border: 1px solid black;
}

h4 {
    color: orange;
    font-weight: 700;
    text-shadow: 3px 1px #000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace.pace-inactive .pace-progress {
    display: none;
  }
  
  .pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
  
    -webkit-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  
  .pace .pace-progress:after {
    display: block;
    position: absolute;
    top: 0;
    right: .5rem;
    content: attr(data-progress-text);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 5rem;
    line-height: 1;
    text-align: right;
    color: rgba(255, 147, 0, 0.19999999999999996);
  }
  

.col-sm-12 {
    padding: 0;
}

.modal-backdrop {
    z-index: 1020 !important;
}

.responsive {
    width: 100%;
    height: auto;
}

.serverinfo {
    background-image: linear-gradient(rgba(236, 155, 3, 0.2), rgba(236, 155, 3, 0.4));
    padding: 20px;
    text-align: left;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 3px 2px#000;
}

.captcha {
    text-align: center;
    padding-bottom: 10px;
}

.playerinfo {
    background-image: linear-gradient(rgba(236, 155, 3, 0.4), rgba(236, 155, 3, 0.2));
    padding: 20px;
    text-align: left;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-shadow: 3px 2px#000;
}

.indent {
    padding-left: 15px;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.green {
    color: rgb(50, 182, 50);
}

.quote {
    text-align: center;
    margin-top: 8px;
}

.mapstyle {
    border: 1px inset black;
}

#cnt {
    color: orange;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.navtext {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
.rcon {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    padding: 2px 3px 2px 3px;
}

.playercap {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.widget {
    border: 1px solid grey;
    color: orange;
    text-shadow: 1px 1px#000;
    min-width: 240px;
    max-width: 240px;
    min-height: 257px;
    max-height: 257px;
    font-size: 14px;
    font-weight: bold;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wservername {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    text-shadow: 1px 1px#000;
    min-height: 36px;
}

.widget.content {
    color: white;
    border: none;
    min-height: unset;
}

.widget.farmhouse {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/fullthumb_farmhouse.jpg);
    background-size: cover;
    border: none;
}

.widget.refinery {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/fullthumb_refinery.jpg);
    background-size: cover;
    border: none;
}

.widget.hideout {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/fullthumb_hideout.jpg);
    background-size: cover;
    border: none;
}

.widget.precinct {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/fullthumb_precinct.jpg);
    background-size: cover;
    border: none;
}

.widget.summit {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/fullthumb_summit.jpg);
    background-size: cover;
    border: none;
}

.widget.crossing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/fullthumb_crossing.jpg);
    background-size: cover;
    border: none;
}


.widget.fallback {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/static/fullthumb_fallback.jpg);
    background-size: cover;
    border: none;
}

.banner {
    border: 1px solid grey;
    color: orange;
    text-shadow: 1px 1px#000;
    font-weight: bold;
    min-width: 544px;
    min-height: 93px;
    max-width: 544px;
    max-height: 93px;
    font-size: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.banner.content {
    color: white;
    border: none;
    min-height: unset;
}

.bservername {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    text-shadow: 1px 1px#000;
}

.banner.farmhouse {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/banner_farmhouse.jpg);
    border: none;
    
}

.banner.refinery {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/banner_refinery.jpg);
    border: none;
}

.banner.hideout {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/banner_hideout.jpg);
    border: none;
}

.banner.precinct {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/banner_precinct.jpg);
    border: none;
}

.banner.summit {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/banner_summit.jpg);
    border: none;
}

.banner.crossing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/banner_crossing.jpg);
    border: none;
}

.banner.fallback {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/static/banner_fallback.jpg);
    border: none;
}
